# Path to SQLite file (relative path from flyway.conf)
#flyway.url=jdbc:sqlite:../../databases/submission_queue.db
flyway.url=jdbc:sqlite:./submission_queue.db

# Folder where migrations are located (relative to this conf file)
flyway.locations=migrations,data

# No username or password needed for SQLite
flyway.user=
flyway.password=

# Path to SQLite JDBC driver
flyway.jarDirs=C:\\Tools\\sqlite

# Flyway options
flyway.cleanDisabled=false
flyway.encoding=UTF-8

# We have to make sure the DB exists first
# sqlite3 .\submission_queue.db ".databases"
# java -cp "C:\Tools\sqlite\sqlite-jdbc-3.49.1.0.jar" org.sqlite.JDBC
