# Path to SQLite file (relative path from flyway.conf)
#flyway.url=jdbc:sqlite:../../databases/submission_queue.db
flyway.url=jdbc:sqlite:./submission_queue.db

# Folder where migrations are located (relative to this conf file)
flyway.locations=filesystem:./

# No username or password needed for SQLite
flyway.user=
flyway.password=

# Flyway options
flyway.cleanDisabled=false
flyway.encoding=UTF-8

# We have to make sure the DB exists first
# sqlite3 .\submission_queue.db ".databases"
